#Div1 {
    background-color: #FE0000;
    width: 100%;
    height: 50px;;
}

#Div2 {
    background-color: #0066CC;
    width: 100%;
    height: 50px;;
}

#Div3 {
    background-color: #F5FF00;
    width: 100%;
    height: 50px;;
}

#Div4 {
    background-color: #3CF10E;
    width: 100%;
    height: 50px;
}

#Div5 {
    background-color: #01FFE5;
    width: 100%;
    height: 50px;
}

#Div6 {
    background-color: #0024FF;
    width: 100%;
    height: 50px;
}

#Div7 {
    background-color: #C500FF;
    width: 100%;
    height: 50px;
}

#Div8 {
    background-color: #FF009C;
    width: 100%;
    height: 50px;
}